/* cuerpo de la pagina */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    color: #2c3e50;
}

/* Contenedor */
.container {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
}

.message {
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
}

.message.success {
    color: green;
}

.message.error {
    color: red;
}

ul {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    list-style: none;
    box-shadow: 0px 3px 6px rgba(26, 69, 240, 0.801);
}

li {
    padding: 8px;
    border-bottom: 1px solid #eee;
}

form {
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
    max-width: 500px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background: #3498db;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s ease;
}

input[type="submit"]:hover {
    background: #2980b9;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;       
    height: 100vh;      
    overflow-y: auto;   
    background-color: #212529;
}

.contenido {
    margin-left: 220px; 
    padding: 20px;
}

.sidebar .btn.active {
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
}